body
{
	 background-image: url(nav/bg.gif);
     background-repeat: repeat-x;
	 background-position: top;
	 background-color:#616161;
	 margin:0px;
	 text-align: center;
}

.class_center
{
margin-left:auto;
margin-right:auto;
align:center;
}

.class_sidemenu
{
	top:20;
	left:10; 
	text-align:left;
}


.class_section_header
{
	font-size:14px;
	width:400;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	font-weight:600;
	width:400px;
}

.header_container
{
    width: 900px;
	margin-left: 53px ;
    margin-right: auto ;
}


.header_container a:link, .header_container a:active, .header_container a:visited
{
   font-family: Candara;
   color: #ffffff;
   font-size: 13px;
   text-decoration:none;
}


.header_container a:hover
{
   text-decoration: underline;
}
.header_container_ie a:hover
{
   text-decoration: underline;
}
.jquery_header_link
{
   font-family: Candara;
   color: #ffffff;
   font-size: 13px;
   text-decoration:none;
   cursor:pointer;
}

.jquery_header_link a:hover
{
   text-decoration: underline;
}

.main_container
{
    font-family: Khmer UI;
	color: #2f2e2e;
	background-image: url(nav/bg_content_top.gif);
    background-repeat: repeat-x;
	background-position: top;
	background-color:#ffffff;
    width: 800px;
	margin-left: 53px ;
    margin-right: auto ;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 52px;
}


.footer_container
{
    width: 900px;
	background-image: url(nav/bg_content_bottom.gif);
    background-repeat: repeat-x;
	background-position: top;
	font-size:10px;
	 font-family: "Khmer UI","Sans-serif";
	margin-left: 53px ;
    margin-right: auto ;
}

.button
{
    display:inline;
	/*background-image: url(nav/btn_button.png);*/
    background-repeat: no-repeat;
	background-position: top;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	display: inline;
	font-size:13px;
	text-shadow: 0 1px #FFFFFF;
	color: #000000;
	text-decoration:none;
	cursor:pointer;

}
a.button
{
	background-image: url(nav/btn_button.png);
    background-repeat: no-repeat;
	background-position: top;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:9px;
	display: inline;
	font-size:13px;
	text-shadow: 0 1px #FFFFFF;
	color: #000000;
	text-decoration:none;
}

.button:hover
{
	background-image: url(nav/btn_button_hover.png);
    background-repeat: no-repeat;
	background-position: top;

}

li
{
    font-family: Khmer UI;
    font-size:10px;
	list-style-image: url(nav/bullet.jpg);
	padding-left:20px;
}

.details_h1
{
   font-family: Candara;
   color:#252525;
   font-size:16px;
}

.details_text
{
   color:#2F2E2E;
   font-size: 13px;
}

.details
{
   width:300;
   padding-left:10px;
   padding-right:16px;
}

a.product_links
{
   color:#252525;
   font-size:12px;
   text-decoration:none;
}

.matrix_text
{
   font-size:11px;
   padding-bottom:7px;
}

textarea, input, select
{
  color:#aaaaaa;
}

input
{
  color:#aaaaaa;
}

#s_active
{
}
